2DCNN/CNN/logs/
2DCNN/VGG/logs/
2DCNN/Alexnet/checkpoints/
2DCNN/Alexnet/logs/
2DCNN/Alexnet-scratch/logs/
2DCNN/Inception-scratch/logs/
2DCNN/VGG-scratch/logs/
3DCNN/Alexnet-scratch/logs/
2DCNN/VGG-scratch/pretrained_params/vgg16_weights.npz
2DCNN/Alexnet-scratch-fullresolution/logs/
2DCNN/Inception-scratch-fullresolution/logs/
2DCNN/Inception/logs/
3DCNN/Alexnet/logs/
3DCNN/C3D/logs/
Training/cifar10/
Training/logs/
Training/Statistics/
Training/Utils/Statistics/
Training/ae_models/
Training/weights.npy
Training/pretrained_weights/
/.project
Training/MNIST_data/
Training/Preprocessing/Registration/TransformParameters.0.txt
Training/Preprocessing/Registration/IterationInfo.0.R0.txt
Training/Preprocessing/Registration/transformix.log
Training/Preprocessing/Registration/IterationInfo.0.R3.txt
Training/Preprocessing/Registration/IterationInfo.0.R2.txt
Training/Preprocessing/Registration/IterationInfo.0.R1.txt
Training/Output.txt
