2DCNN/CNN/logs/
2DCNN/VGG/logs/
2DCNN/Alexnet/checkpoints/
2DCNN/Alexnet/logs/
2DCNN/Alexnet-scratch/logs/
2DCNN/Inception-scratch/logs/
2DCNN/VGG-scratch/logs/
3DCNN/Alexnet-scratch/logs/
2DCNN/VGG-scratch/pretrained_params/vgg16_weights.npz
2DCNN/Alexnet-scratch-fullresolution/logs/
2DCNN/Inception-scratch-fullresolution/logs/
